# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# OS-specific files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# macOS resource forks
.Spotlight-V100
.Trashes
._*

# Linux
*~
.nfs*

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn